.video-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.video-comments__comment {
    width: 65%;
    display: flex;
    margin-top: 10px;

    .author-img__container {

        .author-img {
            border-radius: 50%;
        }
      }
    
    

    .meta-info__container {
        margin-left: 15px;

      .comment-author {
        span:first-child {
            font-weight: bold;
        }
        span:nth-child(2)
         {
            margin-left: 5px;
            color: $grey;
        }
      } 

      .likes-container {
          color: $grey;
          span:nth-child(2) {
            margin-left: 3px;
          }
          span:nth-child(4),
          .fa-thumbs-down
          {
            margin-left: 10px;
        }
      }
    }
}



