.youtube-header {
    display: flex;
    width: 79%;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

.youtube-circle {
    align-self: center;
    height: 50px;
    width: 50px;
}
.youtube-header-nav {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 480px;
    // background-color: #f5efeb;
}

.youtube-header-nav__button {
    border: none;
    // display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    // padding: $s-size;
    text-decoration: none;
    color: $grey;
    display: flex;
    width: 200px;
}


.fa-home, .fa-fire {
    align-self: center;
    margin-left: 20px;
}

.youtube-header-nav__button span {
    margin-left: 20px;
}
.link--active .fas {
    color: red;
}


.link--active.youtube-header-nav__button {
    background-color: #e5e5e5;
}