.favourates-message-container {
    align-items: center;
    background-color: $red;
    color: $off-white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    // padding: 0 15.9rem;
    margin-top: 20px;
    width: 79.5%;
}