.favourates-message-container {
    align-items: center;
    background-color: $red;
    color: $off-white;
    display: flex;
    margin: 0 auto;
    padding: 0 15.9rem;
    margin-top: 20px;
    justify-content: center;
    // padding: 1em 1.5em;
}